.CustomerDetails_forms {
  width: 640rem;
  border: 2px solid rgb(209, 31, 61);
  border-radius: 5rem;
}
.CustomerDetails_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 180rem;
  width: 400rem;
  padding: 20rem;
}

.customerDetails_label {
  font-size: 18px;
  margin: 5rem 10rem 0rem 10rem;
}
.CustomerDetailsInput {
  font-size: 10px;
  color: grey;
  height: 25px;
  width: 280rem;
  margin: 0 10rem;
  /* padding-left: 5rem; */
}
.submit_btn {
  margin-top: 20rem;
  font-size: 20rem;
  height: 40px;
  width: 20vw;

  color: white;
  background-color: rgb(212, 46, 74);
  border: none;
}
.widget {
  height: 80rem;
  width: 160rem;
  background-color: rgb(212, 46, 74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5rem 2rem 0rem 2rem;
}
.contactIcon {
  width: 40rem;
  height: 40rem;
}
.customertext {
  font-size: 12rem;
  color: white;
}

/* ************ Responsive Design ************  */
@media only screen and (max-width: 480px) {
  .CustomerDetails_forms {
    width: fit-content;
  }
  .CustomerDetails_form {
    height: auto;
  }
  .widget {
    flex-direction: row;
    justify-content: left;
  }
  .contactIcon,
  .customertext {
    margin-top: auto;
    margin-left: 5rem;
    transform: translateY(-50%);
  }
  .customerDetails_label {
    font-size: 10px;
    font-weight: 600;
    margin: 0rem;
  }
  .CustomerDetails_forms {
    width: 80vw;
    margin: auto;
    border: none;
  }

  .CustomerDetailsInput {
    width: 70vw;
    margin: 0 0;
    padding-left: 0;
  }
}
@media only screen and (max-width: 960px) {
  .widget {
    width: 80vw;
    height: 40rem;
    align-items: flex-start;
    padding-left: 20rem;
  }
  .contactIcon {
    width: 20rem;
    height: 20rem;
    margin-left: 20rem;
  }
  .customertext {
    font-size: 8rem;
  }
  .submit_btn {
    width: 90%;
  }
}
