.main {
  margin-top: 40rem;
}
.EmployementDetails_Label {
  font-size: 15px;
  font-weight: bold;
  margin: 15rem 10rem 0rem 0rem;
}
.EmployementDetails_Input {
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  width: 280rem;
  padding: 0rem 10rem 0rem 10rem;
}
.EmployementDetails_form_1 {
  display: flex;
  flex-wrap: wrap;
}
/* .nature_of_employment {
  margin-top: 20rem;
} */
.contain_1 {
  width: 320rem;
  display: flex;
  flex-direction: column;
}
.container_1,
.container_2,
.container_3,
.container_4 {
  display: flex;
  /* flex-direction: column; */
}
.container_1,
.container_3 {
  width: 550rem;
}
.container_3 .box {
  width: 100%;
}
.container_3 .box input {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
}
input[type="radio"] {
  margin: 5rem;
}
.employement_btn {
  margin-top: 45rem !important;
}
@media only screen and (max-width: 719px) {
  .EmployementDetails_Input {
    width: 85vw;
  }
}
@media only screen and (max-width: 480px) {
  .EmployementDetails_form_1 {
    height: auto;
    flex-direction: column;
  }
  .EmployementDetails_Input {
    font-size: 14px;
    font-weight: bold;
    width: 85vw;
  }
  .main {
    width: 90vw;
  }
  .container_1,
  .container_2,
  .container_3,
  .container_4 {
    flex-direction: column;
  }
  .container_1,
  .container_3 {
    width: 80vw;
  }
  .container_3 .box {
    width: 100%;
  }
  .container_3 .box input {
    /* width: auto; */
    width: 100%;
  }
  .submit_btn {
    height: 40rem;
    width: 90vw !important;
    margin: 0;
  }
}
