* {
  box-sizing: border-box;
}
.MF2-page {
  background-image: url("../Images/PageBg.jpg");
  background-repeat: no-repeat;
  height: 672px;
  width: 100%;
  margin-left: -16px;
  background-size: cover;
  margin-top: -112px;
}

.MF2-flashlogo {
  margin-top: 139px;
  /* margin-left: 100px; */
  margin-bottom: 30px;
}
.MF2-header {
  color: #832625;
  letter-spacing: -1px;
  /* margin-left: 98px;s */
  margin-top: -17px;
  margin-bottom: 50px;
  font-size: 21px;
}

.MF2-labelInput {
  padding: -54px;
  font-family: sans-serif;
  font-size: 11px;
  /* padding-left: 110px; */
  padding-right: 7px;
  padding-left: -39px;
  margin-top: -24px;
  /* font-weight: bold; */
}

.MF2-labelInput1 {
  font-family: sans-serif;
  font-size: 11px;
  padding-left: 0px;
  padding-right: 7px;
  /* padding-left: -64px; */
  margin-top: -24px;
  /* margin-left: -20px; */
  font-weight: bold;
}

.MF2-Label {
  color: black;
  font-size: 11px;
}
.MF2-Input {
  height: 32px;
  width: 211px;
  /* background: transparent; */
  outline: none;
  font-weight: bold;
}
.MF2-Button {
  /* margin-left: 100px; */
  border: 1px solid #832625;
  height: 34px;
  width: 94px;
  color: #fff;
  background-color: #832625;
  /* float: right; */
  padding: 3px;
  margin-top: 20px;
  border-radius: 0%;
}
.nature_of_employment {
  margin-left: 30px;
}
@media only screen and (max-width: 480px) {
  .MF2-flashlogo {
    margin-top: 10rem;
    margin-left: 52px;
    width: 13rem;
  }

  .MF2-header {
    font-size: 28px;
    margin-left: 48px;
    /* width: 170%; */
  }
  .MF2-Label {
    color: black;
    font-size: 18px;
    margin-left: 6px;
  }
  .MF2-Input {
    height: 40px;
    width: 80vw;
    outline: none;
    /* font-weight: bold; */
    font-size: 16px;
    margin-left: 6px;
    color: rgb(99, 202, 51);
    border: 1.5px solid grey;
    border-radius: 3px;
    padding-left: 12px;
  }

  .MF2-labelInput {
    color: black;
    font-size: 18px;
    margin-left: 30px;
    margin-top: 15px;
  }

  .MF2-labelInput1 {
    color: black;
    font-size: 18px;
    margin-left: 42px;
    margin-top: 15px;
  }
  .MF2-Button {
    margin-left: 35px;
    margin-top: 15px;
    height: 53px;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
  }

  input:focus {
    border: 2px solid rgb(230, 103, 124);
  }
}
