.PersonalDetails_forms {
  margin-top: 10rem;
}
.PersonalDetails_form {
  height: auto;
  display: flex;
  /* align-items: center; */
  width: 600rem;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.PersonalDetails_form1 {
  display: flex;
  flex-direction: column;
}
.PersonalDetails_form2 {
  display: flex;
  flex-direction: column;
}
.PersonalDetails_label {
  font-size: 15px;
  margin: 5rem 10rem 0rem 10rem;
}
.PersonalDetails_input {
  font-size: 10px;
  color: grey;
  height: 25px;
  width: 280rem;
  margin: 0 10rem;
  padding-left: 5rem;
}
.PersonalDetails_checkbox {
  margin: 10rem 0px 5px 10rem;
  display: flex;
}
.PersonalDetails_input_checkbox {
  border: none;
}
.PersonalDetails_input_checkbox_para {
  font-size: 10rem;
  margin-left: 10rem;
  color: rgb(122, 115, 115);
  width: 75vw;
}
input {
  border: 1px solid rgb(172, 168, 168);
  border-radius: 2rem;
}

input:valid {
  border: 2px solid rgb(51, 138, 51, 0.6);
}
input:invalid {
  /* border: 2px solid rgb(250, 128, 114, 0.6); */
  color: #832625;
}
@media only screen and (max-width: 480px) {
  .PersonalDetails_form {
    flex-direction: column;
  }
  .PersonalDetails_input {
    width: 70vw;
  }
  /* .submit_btn {
    margin-left: 20rem;
  } */
}
