.PersonalDetails_forms {
  margin-top: -10rem;
}
.PersonalDetails_form {
  height: auto;
  display: flex;
  /* align-items: center; */
  /* width: 600rem; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.PersonalDetails_form1 {
  display: flex;
  flex-direction: column;
}
.PersonalDetails_form2 {
  display: flex;
  flex-direction: column;
}
.PersonalDetails_label {
  font-size: 15px;
  font-weight: bold;
  margin: 15rem 10rem 0rem 10rem;
}
.PersonalDetails_input {
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  width: 280rem;
  margin-right: 10rem;
  padding: 0rem 10rem 0rem 10rem;
}
.PersonalDetails_checkbox {
  margin: 40rem 0px 5px 10rem;
  display: flex;
}
.PersonalDetails_input_checkbox {
  border: none;
}
.PersonalDetails_input_checkbox_para {
  font-size: 12rem;
  margin-left: 10rem;
  color: rgb(122, 115, 115);
  width: 75vw;
}
input {
  border: 1px solid rgb(172, 168, 168);
  border-radius: 2rem;
}

input:valid {
  color: rgb(51, 138, 51, 0.6);
}
input:invalid {
  color: #832625;
}
@media only screen and (max-width: 480px) {
  .PersonalDetails_form {
    flex-direction: column;
  }
  .PersonalDetails_input {
    width: 90vw;
  }
  .submit_btn {
    height: 40rem;
    width: 160rem;
    margin: 0;
  }
}
