.mycards {
  display: flex;
  height: auto;
  /* justify-content: center; */
}
.select_card_btn {
  height: 40rem;
  width: 150rem;
  font-size: 20rem;
  color: white;
  background-color: #832625;
  border: none;
  margin: auto;
  margin-top: 10rem;
}
@media only screen and (max-width: 480px) {
  .mycards {
    flex-direction: column;
    align-items: center;
  }
}
