.MF5-page {
  background-image: url("../Images/PageBg.jpg");
  background-repeat: no-repeat;
  height: 672px;
  width: 100%;
  margin-left: -16px;
  background-size: cover;
  margin-top: -112px;
}

.MF5-flashlogo {
  margin-top: 150px;
  /* margin-left: 100px; */
  margin-bottom: 67px;
}
.MF5-Container {
  width: 630px;
  height: 280px;
  margin-top: -38px;
  /* margin-left: 93px; */
  border: 1px solid #832625;
  position: relative;
  border-radius: 5px;
  padding-right: 59px;
}

.MF5-Container form {
  position: absolute;
  transition: 0.5s;
  margin-left: 15px;
  margin-top: 8px;
}

.MF5-labelInput {
  padding: 23px;
  font-family: sans-serif;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 7px;
  padding-left: -39px;
  font-weight: bold;
}
.MF5-Label {
  color: black;
  font-size: 13px;
  font-weight: bold;

}
.MF5-Label-3 {
  color: black;
  font-size: 12px;
  margin-left: 65px;
  font-weight: bold;

}
.MF5-Input {
  height: 33px;
  width: 211px;

  outline: none;
}
.MF5-Input-3 {
  height: 33px;
  width: 211px;
  margin-left: 65px;

  outline: none;
}
.MF5-Resend {
  color: #832625;
  margin-left: 135px;
  font-weight: bold;
  font-size: 12px;

}
.MF5-checkbox{
  margin-left: 25px;
  color: #832625;
}
.MF5-checkbox-P {
  color: black;
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
  font-size: 12px;

}
.MF5-checkbox-TC {
  color: #832625;

}
.MF5-submit-Button {
  position: fixed;
  margin-left: -210px;
  border: 1px solid #832625;
  height: 39px;
  width: 106px;
  color: #fff;
  background-color: #832625;
  margin-top: 47px;
  border-radius: 0% ;
}

@media only screen and (max-width: 480px) {
  .MF5-flashlogo {
    margin-top: 10rem;
    margin-left: 52px;
    width: 13rem;
  }

  .MF5-Container {
    width: 596px;
    height: 472px;
    margin-top: -38px;
    margin-left: 23px;
    border: none;
  }
  
  /* .MF5-Container form {
    position: absolute;
    transition: 0.5s;
    margin-left: 15px;
    margin-top: 8px;
  } */
  
  /* .MF5-labelInput {
    padding: 23px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 7px;
    padding-left: -39px;
    font-weight: bold;
  } */


  .MF5-Label {
    color: black;
    font-size: 20px;
    font-weight: bold;
  
  }
  /* .MF5-Label-3 {
    color: black;
    font-size: 12px;
    margin-left: 65px;
    font-weight: bold;
  } */


  .MF5-Input {
    height: 60px;
    width: 35rem;
    outline: none;
    margin-top: 15px;
    font-weight: bold;
    color: rgb(38, 75, 2);

  }
  .MF5-Input-3 {
    height: 33px;
    width: 211px;
    margin-left: 65px;
  
    outline: none;
  }
  .MF5-Resend {
    margin-left: 442px;
    font-size: 19px;
  
  }
  .MF5-checkbox{
    margin-left: 25px;
    color: #832625;
    width: 20px;
  }
  .MF5-checkbox-P {
    font-size: 20px;
  }
  .MF5-checkbox-TC {
    color: #832625;
  
  }
  .MF5-submit-Button {
    margin-left: -551px;
    margin-top: 109px;
    height: 53px;
    width: 34rem;
    font-weight: bold;
    font-size: 25px;
  }

}
