.mycard {
  height: auto;
  width: 200rem;
  margin: 10rem;
  border: 1px solid #832625;
  border-radius: 2rem;
}
.card_image {
  padding: 10rem;
  width: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
  width: auto;
  font-size: 15rem;
  padding: 10rem;
}
@media only screen and (max-width: 480px) {
  .mycard {
    width: 300rem;
  }
}
