* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: #832625;
}
html {
  font-size: 6.25%;
}
.grid-container {
  display: grid;
  grid-template-rows: 70rem 700rem 30rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header  header  header"
    "main    main    main"
    "footer  footer  footer";
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  margin-top: 60rem;
  grid-area: footer;
}
.main {
  display: flex;
  padding: 40rem;
  flex-direction: column;
  background-image: url("../src/Images/PageBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

input {
  border: 1px solid rgb(172, 168, 168);
  border-radius: 2rem;
  background-color: white;
}

input:valid {
  color: rgb(51, 138, 51, 0.6);
}
input:invalid {
  color: #832625;
}
button {
  cursor: pointer;
}
/* ********* global css ends here *********** */
@media only screen and (max-width: 480px) {
  .main {
    margin: auto;
    padding: 0px;
    background-image: none;
  }
  html {
    font-size: 4.5%;
  }
}
@media only screen and (max-width: 960px) {
  .main {
    background-image: none;
    /* margin: auto; */
  }
}
