* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: #832625;
}
html {
  font-size: 6.25%;
}
.grid-container {
  display: grid;
  grid-template-rows: 70rem 1fr 30rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header  header  header"
    "main    main    main"
    "footer  footer  footer";
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.footer {
  margin-top: 60rem;
  grid-area: footer;
}
.main {
  display: flex;
  margin: 10rem 40rem 40rem 40rem;
  flex-direction: column;
  background-image: url("../src/Images/PageBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

input {
  border: 1px solid rgb(172, 168, 168, 0.8);
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0, 0.8);
}
input::placeholder {
  color: rgb(0, 0, 0, 0.6);
}
input:valid {
  color: rgb(13, 99, 42, 0.8);
}
input:invalid {
  color: #832625;
}
input:invalid[focused="true"] {
  border: 1px solid #832625;
}
button {
  cursor: pointer;
}
/* ********* global css ends here *********** */

@media only screen and (max-width: 960px) {
  .header {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .main {
    margin: auto;
    padding: 0px;
    background-image: none;
  }
  html {
    font-size: 4.5%;
  }
  .grid-container {
    display: grid;
    grid-template-rows: 0rem 1fr 30rem;
  }
}
